.dialog {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    position: relative;

    mat-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }
}

.one-row {
    display: flex;
    gap: 16px;
}