.container {
    height: calc(100dvh - 128px);
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow-x: auto;

    table {
        text-wrap: nowrap;
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 0 16px;
    }

    thead tr td {
        font-weight: 600;
        height: 48px;
        background-color: #2D68FE;
        color: white;
    }

    tbody tr td {
        width: 120px;
        height: 64px;
    }

    tbody tr:nth-child(even) {
        background-color: #EFF6FF;
    }
}

@media (max-width: 1118px) {
    .container {
        height: calc(100dvh - 64px);
    }
}