.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    .input-field {
        width: 218px;
        height: calc(32px - 16px);
        outline: solid 1px #71839B;
        color: #71839B;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        padding-right: 0;
        gap: 8px;

        input {
            width: 100%;
            height: calc(100% + 16px);
            border: unset;
            color: #71839B;
            font-size: 16px;

            &:focus {
                outline: unset;
            }
        }
    }

    .btn-add-client {
        background-color: #2D68FE;
        color: white;
        border-radius: 8px;
        width: 140px;
        height: 32px;
    }
}

.clients {
    height: calc(100dvh - 128px);
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow-x: auto;

    table {
        text-wrap: nowrap;
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 0 16px;
    }

    thead tr td {
        font-weight: 600;
        height: 48px;
        background-color: #2D68FE;
        color: white;
    }

    tbody tr td {
        width: 120px;
        height: 64px;
    }

    tbody tr:nth-child(even) {
        background-color: #EFF6FF;
    }
}

@media (max-width: 1279px) {
    .clients {
        height: calc(100dvh - 32px);
    }
}