<div class="container">

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Company</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Country</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Fabio Spoto</td>
                <td>Freelancer</td>
                <td>fspoto98&#64;gmail.com</td>
                <td>0853043435</td>
                <td>Germany</td>
                <td>Lead</td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Remove</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>

</div>