.container {
    display: flex;
}

[class*="select-"] {
    background-color: #EFF6FF !important;
    color: #2D68FE;
}

.select-dashboard {
    img {
        content: url('/assets/icon/dashboard_select.svg');
    }
}

.select-clients {
    img {
        content: url('/assets/icon/clients_select.svg');
    }
}

.select-logout {
    img {
        content: url('/assets/icon/logout_select.svg');
    }
}

.select-settings {
    img {
        content: url('/assets/icon/settings_select.svg');
    }
}

.sidenav {
    min-width: 288px;
    height: 100dvh;
    font-size: 16px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav-header {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 24px;
}

.logo {
    height: 48px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 16px;
    margin: 20px;
    margin-bottom: 0;
    padding-left: 8px;

    .logo-text {
        font-size: 24px;
        color: #324054;
        font-weight: 600;
    }

    .logo-img {
        height: 32px;
    }
}

.menu-items {
    list-style-type: none;
    padding: 0;

    li:not(:last-child) {
        margin-bottom: 12px;
    }

    li {
        padding-left: 12px;
        margin: 0 20px;
        height: 44px;
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        &:hover {
            background-color: #F1F5F9;
            border-radius: 4px;
        }

    }
}

.profile {
    margin: 20px;
    padding: 12px 0;
    height: 64px;

    display: flex;
    gap: 12px;

    &:hover {
        background-color: unset !important;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border: solid 1px #71839B;
        border-radius: 100%;
        padding: 2px;
    }

    .profile-name {
        color: #324054;
    }

    .profile-email {
        font-size: 14px;
        color: #71839B;
    }
}

.router-container {
    width: 100%;
    padding: 64px;
    height: calc(100dvh - 128px);
    overflow: hidden;
    overflow-y: auto;
}

@media (max-width: 1279px) {
    .sidenav {
        min-width: 64px;
    }

    .logo {
        height: unset;
        width: 32px;
        display: block;
        padding: 0;
        margin: 0;
        margin-left: 16px;
        margin-top: 16px;

        img {
            height: unset;
            width: 32px;
            height: 32px;
        }
    }

    .logo-text {
        display: none;
    }

    .menu-items {
        li:not(:last-child) {
            margin-bottom: 16px;
        }

        li {
            padding-left: 0;
            margin: 0;
            width: 28px;
            height: 28px;
            padding: 4px;
            margin-left: 12px;

            .icon {
                width: 28px;
                height: 28px;
            }

            .item-text {
                display: none;
            }

            &:hover {
                border-radius: 100%;
            }
        }
    }

    .profile {
        margin-left: 4px !important;

        .profile-container {
            display: none;
        }
    }

    .router-container {
        padding: 0;
    }

    [class*="select-"] {
        border-radius: 100%;
    }

    .router-container {
        height: calc(100dvh - 32px);
        padding: 16px;
    }
}