<div class="container">
	<div class="sidenav">
		<div class="sidenav-header">
			<a class="logo" href="/">
				<img class="logo-img" src="/assets/icon/logo.svg">
				<div class="logo-text">SIMPLE CRM</div>
			</a>
			<ul class="menu-items">
				<li [routerLink]="['/']"><img class="icon" src="/assets/icon/dashboard.svg">Dashboard</li>
				<li [routerLink]="['/user']"><img class="icon" src="/assets/icon/clients.svg">Clients</li>
				<li [routerLink]="['/user']"><img class="icon" src="/assets/icon/settings.svg">Settings</li>
			</ul>
		</div>

		<ul class="menu-items menu-items-bottom">
			<li [routerLink]="['/user']"><img class="icon" src="/assets/icon/logout.svg">Logout</li>
			<li class="profile">
				<img class="avatar" src="/assets/img/avatar.png">
				<div class="profile-container">
					<div class="profile-name">Fabio Spoto</div>
					<div class="profile-email">fspoto98&#64;gmail.com</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="router-container">
		<router-outlet></router-outlet>
	</div>
</div>