.container {
    display: flex;
}

.sidenav {
    width: 288px;
    height: 100vh;
    font-size: 16px;
    box-shadow: 1px 0 5px -2px #888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav-header {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 24px;
}

.logo {
    height: 48px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 16px;
    margin: 20px;
    margin-bottom: 0;
    padding-left: 8px;

    .logo-text {
        font-size: 24px;
        color: #324054;
        font-weight: 600;
    }

    .logo-img {
        height: 32px;
    }
}

.menu-items {
    list-style-type: none;
    padding: 0;

    li:not(:last-child) {
        margin-bottom: 12px;
    }

    li {
        padding-left: 12px;
        margin: 0 20px;
        height: 44px;
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        &:hover {
            background-color: #EFF6FF;
            border-radius: 4px;
            color: #2D68FE;

            .item-text {
                color: #2D68FE;
            }
        }

        &:hover:nth-child(1) {
            .icon {
                content: url('/assets/icon/dashboard_hover.svg');
            }
        }

        &:hover:nth-child(2) {
            .icon {
                content: url('/assets/icon/clients_hover.svg');
            }
        }

        &:hover:nth-child(3) {
            .icon {
                content: url('/assets/icon/settings_hover.svg');
            }
        }

    }
}

.menu-items-bottom {
    li {
        &:hover:nth-child(1) {
            .icon {
                content: url('/assets/icon/logout_hover.svg');
            }
        }
    }
}

.router-container {
    padding: 64px;
}

.profile {
    padding: 20px 0;

    &:hover {
        background-color: unset !important;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border: solid 1px #71839B;
        border-radius: 100%;
        padding: 2px;
    }

    .profile-name {
        color: #324054;
    }

    .profile-email {
        font-size: 14px;
        color: #71839B;
    }
}

@media (max-width: 1024px) {
    .sidenav {
        width: 64px;
    }

    .logo {
        height: unset;
        width: 32px;
        display: block;
        padding: 0;
        margin: 0;
        margin-left: 16px;
        margin-top: 16px;

        img {
            height: unset;
            width: 32px;
            height: 32px;
        }
    }

    .logo-text {
        display: none;
    }

    .menu-items {
        li:not(:last-child) {
            margin-bottom: 16px;
        }

        li {
            padding-left: 0;
            margin: 0;
            width: 28px;
            height: 28px;
            padding: 4px;
            margin-left: 12px;

            .icon {
                width: 28px;
                height: 28px;
            }

            .item-text {
                display: none;
            }

            &:hover {
                border-radius: 100%;
            }
        }
    }

    .profile {
        margin-left: 4px !important;

        .profile-container {
            display: none;
        }
    }

    .router-container {
        padding: 0;
    }
}