<div class="dialog">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1>Add User</h1>

    <div class="one-row">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="user.firstName" [disabled]="loading" matInput placeholder="First Name">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="user.lastName" [disabled]="loading" matInput placeholder="Last Name">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Birth Date</mat-label>
        <input [(ngModel)]="birthDate" [disabled]="loading" matInput placeholder="Birth Date" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Street & Number</mat-label>
        <input [(ngModel)]="user.street" [disabled]="loading" matInput placeholder="Street & Number">
    </mat-form-field>

    <div class="one-row">
        <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input [(ngModel)]="user.zipCode" [disabled]="loading" matInput placeholder="Zip Code">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" [disabled]="loading" matInput placeholder="City">
        </mat-form-field>
    </div>

    <div class="actions">
        <button (click)="dialogRef.close()" [disabled]="loading" mat-button>Cancel</button>
        <button (click)="saveUser()" [disabled]="loading" mat-button>Save</button>
    </div>
</div>