<div class="dialog">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1>Add User</h1>

    <div class="one-row">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="user.firstName" [disabled]="loading" matInput placeholder="First Name" required="">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="user.lastName" [disabled]="loading" matInput placeholder="Last Name" required="">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Company</mat-label>
        <input [(ngModel)]="user.company" [disabled]="loading" matInput placeholder="Company">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="user.email" [disabled]="loading" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input [(ngModel)]="user.phone" [disabled]="loading" matInput placeholder="Phone">
    </mat-form-field>

    <div class="one-row">
        <mat-form-field>
            <mat-label>Country</mat-label>
            <input [(ngModel)]="user.country" [disabled]="loading" matInput placeholder="Country">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="user.status">
                @for (status of statusList; track $index) {
                <mat-option [value]="status">{{ status.viewValue }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Birth Date</mat-label>
        <input [(ngModel)]="birthDate" [disabled]="loading" matInput placeholder="Birth Date" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Street & Number</mat-label>
        <input [(ngModel)]="user.street" [disabled]="loading" matInput placeholder="Street & Number">
    </mat-form-field>

    <div class="one-row">
        <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input [(ngModel)]="user.zipCode" [disabled]="loading" matInput placeholder="Zip Code">
        </mat-form-field>

        <mat-form-field>
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" [disabled]="loading" matInput placeholder="City">
        </mat-form-field>
    </div>

    <div class="actions">
        <button mat-flat-button class="btn-cancel" [disabled]="loading"
            (click)="dialogRef.close()"><mat-icon>cancel</mat-icon>Cancel</button>
        <button mat-flat-button class="btn-add" [disabled]="loading"
            (click)="saveUser()"><mat-icon>save</mat-icon>Save</button>

    </div>
</div>