<mat-card>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fabio Spoto</td>
                <td>Bergstraße 15</td>
                <td>Hemmoor</td>
                <td>21745</td>
            </tr>
            <tr>
                <td>Fabio Spoto</td>
                <td>Bergstraße 15</td>
                <td>Hemmoor</td>
                <td>21745</td>
            </tr>
        </tbody>
    </table>
</mat-card>




<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User">
    <mat-icon>add</mat-icon>
</button>