<mat-card>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track $index) {
            <tr>
                <td>{{ $index }}. {{ user.firstName}} {{ user.lastName }}</td>
                <td>{{ user.street }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.zipCode }}</td>
            </tr>
            }
        </tbody>
    </table>
</mat-card>




<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User">
    <mat-icon>add</mat-icon>
</button>