$borderBottomColor: rgba(0, 0, 0, 0.1);

mat-card {
    padding: 32px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: start;
    border-bottom: solid 1px $borderBottomColor;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 8px;
}

tbody tr {
    border-bottom: solid 1px $borderBottomColor;
    cursor: pointer;


    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &:last-child {
        border: unset;
    }
}

td {
    height: 48px;
}

.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}