@font-face {
    font-family: Inter;
    src: url('/assets/font/inter.woff2');
}

* {
    font-family: Inter;
}

html,
body {
    height: 100%;
    color: #324054;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}